html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.profile-pic {
    border-radius: 50%;
}

.site-index {
    position: relative;
}

.site-index > .jumbotron {
    ; 
}

#edit-profile {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn > i {
    margin-right: 5px;
}

#total-money {
    margin-left: 193px;
}

#pending-money {
    margin-left: 71px;
}

/*#money {
    float: right;
    margin-right: 20px;
}*/

.saldo-div > div {
    width: 49%;
    display: inline-block;
}

.money-button {
    float: right;
}

.site-saldo > table {
    min-width: 50%;
}

.site-saldo > table tr:nth-child(2) {
    border-bottom: 1px solid black;
}

.site-saldo > table tr > td:last-child {
    text-align: right;
}

.site-saldo td {
    font-size: 1.5em;
    font-weight: 500;
}

.site-saldo .header-saldo {
    border-bottom: 1px dotted;
    padding-bottom: 5px;
}

.site-saldo .header-saldo > h1 {
        display: inline;
}

.site-saldo .header-saldo > .btn {
    float: right;
}

.metodos {
    padding: 10px;
}

.metodos > *{
    margin: 10px;
}

.insert-money {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*.money-form {
    max-width: 50%;
}*/

.line > *{
    display: inline-block;
    width: auto;
}

.match, .date {
    font-weight: 500;
    font-size: 1.2em;
}

.matches > .row {
    margin: 10px;
}

.matches > .row > .col-md-4:nth-child(2) {
    text-align: center;
    vertical-align: middle;
}
